<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resume_template.name %>
</p>


<%= link_to 'Edit', edit_resume_template_path(@resume_template) %> |
<%= link_to 'Back', resume_templates_path %>
